:root {
    --tan: #D8CEB3;
    --grey: #504E4F;
    --red: #E3242A;
    --orange: #e65f36;
    --yellow: #F3C900;
    --green: #4FB539;
    --blue: #09A4EC;
}

div#leftside {float: left; margin: 3; padding: 4px; width: 8pc;}
div#rightside {margin-right: 10%; margin-left: 20%; padding: 0;}

.background {
	background-image: url("images/topography.png");
    background-repeat: repeat;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90;
} 
.yellowbox {background-color: var(--yellow);}
.bluebox {background-color: var(--blue);}
.redbox {background-color: var(--red);}
.orangebox {background-color: var(--orange);}
.tanbox {background-color: var(--tan);}
.greybox {background-color: var(--grey);}
.greenbox {background-color: var(--green);}

.yellowcolor {color: var(--yellow);}
.bluecolor {color: var(--blue);}
.redcolor {color: var(--red);}
.orangecolor {color: var(--orange);}
.tancolor {color: var(--tan);}
.greycolor {color: var(--grey);}
.greencolor {color: var(--green);}
